name: Deploy Main (Dev | Prod)

on:
  push:
    branches: [main]

permissions:
  contents: read
  id-token: write

jobs:
  deploy-dev:
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/deploy-env.yml
    with:
      aws_region: us-east-1
      environment: dev
      stack_suffix: dev
      branch: ${{ github.ref_name }}
      api_base_url: https://e75x4uq227.execute-api.us-east-1.amazonaws.com
    secrets:
      db_password: ${{ secrets.DEV_DB_PASSWORD }}

  deploy-prod:
    needs: deploy-dev
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/deploy-env.yml
    with:
      aws_region: us-east-1
      environment: prod
      stack_suffix: prod
      branch: ${{ github.ref_name }}
      api_base_url: https://2ugomkefji.execute-api.us-east-1.amazonaws.com
    secrets:
      db_password: ${{ secrets.PROD_DB_PASSWORD }}
