name: Main Deploy

on:
  push:
    branches: [main]

permissions:
  contents: read
  id-token: write

jobs:
  deploy-prod:
    uses: ./.github/workflows/deploy-env.yml
    with:
      aws_region: us-east-1
      environment: prod
      stack_suffix: prod
      branch: ${{ github.ref_name }}
      api_base_url: https://2ugomkefji.execute-api.us-east-1.amazonaws.com
      role_arn: ${{ vars.ROLE_ARN }}
      db_user: ${{ vars.DB_USER }}
    secrets:
      db_password: ${{ secrets.DB_PASSWORD }}
